.textBlock::before {
  content: "";
  width: 8px;
  height: 100%;
  @apply bg-green-800;
  position: absolute;
  left: -26px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.rotate_infinite {
  animation: rotate 15s linear infinite;
}

.footer {
  background-image: url("../../assets/images/Top/img_footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.footer h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);
  aspect-ratio: 266.86/36.78;
  width: 266.86px;
  height: auto;
  background-image: url("../../assets/images/Top/img_line.png");
  background-repeat: no-repeat;
}

.footer h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  aspect-ratio: 39/39;
  width: 39px;
  height: auto;
  background-image: url("../../assets/images/Top/img_new.png");
  background-repeat: no-repeat;
}

.footer:hover h2::before {
  animation: pulse 0.5s ease-in-out 3;
}

@media screen and (max-width: 900px) {
  .hideInSp {
    display: none;
  }
  .footer h2::after {
    transform: translate(0%, 100%);
  }
  .footer h2::before {
    transform: translate(0%, -100%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
