@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.overlay {
  position: relative;
}
.overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.circleLine {
  position: relative;
}
.circleLine::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: translate(-50%, 50%);
  aspect-ratio: 1/1;
  width: 281px;
  height: auto;
  background-image: url("./assets/images/Top/img_circle.png");
  background-repeat: no-repeat;
  z-index: 1;
}
