@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.overlay {
  position: relative;
}
.overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.circleLine {
  position: relative;
}
.circleLine::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: translate(-50%, 50%);
  aspect-ratio: 1/1;
  width: 281px;
  height: auto;
  background-image: url("./assets/images/img_circle.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.arrow {
  position: relative;
}

.arrow::after {
  content: "";
  position: absolute;
  top: 0;
  right: 10%;
  transform: translate(50%, -60%);
  aspect-ratio: 109/131;
  width: 109px;
  height: auto;
  background-image: url("./assets/images/img_arrow.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .circleLine::before {
    left: 0;
  }
  .arrow::after {
    right: 0;
    transform: translate(0%, -70%);
  }
}
